{% extends 'core/base.html' %}

{% block content %}

			{% for docente in docentes %}    
			<div class="col-md-2 col-sm-4 col-xs-6 text-center">
                <a href="{% url 'docente' slug=docente.slug %}"><img class="img-circle img-center" src="{{ MEDIA_URL }}{{ docente.matricula.foto.url }}" width="100" height="100" alt=""></a>
                <h5>{{ docente.matricula.nome }}</h5>                                
               <!-- <a href="mailto:{{ docente.matricula.email }}" title="email"><i class="fa fa-envelope"></i></a> <a href="tel:{{ docente.matricula.telefone }}" title="(71)3283-9821"><i class="fa fa-phone"></i></a> <a href="{{ docente.lattes }}" title="lattes"><img src="/static/imagens\lattes.png"></a>  -->             
            </div> 
            {% endfor %}           
                            

{% endblock content %}