{% extends 'core/base.html' %}


{% block content %}
              <h2 class="text-center">{{ especializacao.nome|linebreaksbr }}</h2>  
              <div class="col-md-3">                                  
                  <h4>{{ especializacao.titulo1 }}: </h4><p class="text-justify small">{{ especializacao.descricao1 }}</p>
                  <h4>{{ especializacao.titulo2 }}: </h4>
                  <p class="small">{{ especializacao.item21 }}</p>
                  <p class="small">{{ especializacao.item22 }}</p>
                  <p class="small">{{ especializacao.item23 }}</p>
                  <p class="small">{{ especializacao.item24 }}</p>
                  <p class="small">{{ especializacao.item25 }}</p>
                  <p class="small">{{ especializacao.item26 }}</p>
                  <p class="small">{{ especializacao.item27 }}</p>
                  <p class="small">{{ especializacao.item28 }}</p>
                  <p class="small">{{ especializacao.item29 }}</p>
                  <p class="small">{{ especializacao.item210 }}</p>
                  <p class="small">{{ especializacao.item211 }}</p>
                  <p class="small">{{ especializacao.item212 }}</p>
              </div>
              <div class="col-md-4">
                  <h4>{{ especializacao.titulo3 }}: </h4><p class="text-justify small">{{ especializacao.descricao3 }}</p>
                  <h4>{{ especializacao.titulo4 }}: </h4>
                  <p class="small">{{ especializacao.item41 }}</p>
                  <p class="small">{{ especializacao.item42 }}</p>
                  <p class="small">{{ especializacao.item43 }}</p>
                  <p class="small">{{ especializacao.item44 }}</p>
                  <p class="small">{{ especializacao.item45 }}</p>
                  <p class="small">{{ especializacao.item46 }}</p>
                  <p class="small">{{ especializacao.item47 }}</p>
                  <p class="small">{{ especializacao.item48 }}</p>

                  <h4>{{ especializacao.titulo5 }}: </h4>
                  <p class="small">{{ especializacao.item51 }}</p>
                  <p class="small">{{ especializacao.item52 }}</p>
                  <h4>{{ especializacao.titulo6 }}: </h4>
                  <p class="small">{{ especializacao.item61 }}</p>
                  <p class="small">{{ especializacao.item62 }}</p>                                    
                  <p class="small">{{ especializacao.item63 }}</p>
                  <h4>{{ especializacao.titulo7 }}: </h4><p class="text-justify small">{{ especializacao.descricao7 }}</p>
              </div>
              <div class="col-md-3">
                  <h4>{{ especializacao.titulo8 }}: </h4>
                  <p class="small">{{ especializacao.item81 }}
                  <br>{{ especializacao.item82 }}
                  <br>{{ especializacao.item83 }}
                  <br>{{ especializacao.item84 }}
                  <br>{{ especializacao.item85 }}
                  <br>{{ especializacao.item86 }}
                  <br>{{ especializacao.item87 }}
                  <br>{{ especializacao.item88 }}
                  <br>{{ especializacao.item89 }}
                  <br>{{ especializacao.item810 }}
                  <br>{{ especializacao.item811 }}
                  <br>{{ especializacao.item812 }}
                  <br>{{ especializacao.item813 }}
                  <br>{{ especializacao.item814 }}
                  <br>{{ especializacao.item815 }}
                  <br>{{ especializacao.item816 }}
                  <br>{{ especializacao.item817 }}
                  <br>{{ especializacao.item818 }}
                  <br>{{ especializacao.item819 }}
                  <br>{{ especializacao.item820 }}
                  <br>{{ especializacao.item821 }}
                  <br>{{ especializacao.item822 }}
                  <br>{{ especializacao.item823 }}</p>
                  <h4>{{ especializacao.titulo9 }}: </h4>
                  <p class="small">{{ especializacao.item91 }}
                  <br>{{ especializacao.item92 }}</p>
                  <p class="small">{{ especializacao.item93 }}</p>
                  <p class="small">{{ especializacao.item94 }}
                  <br>{{ especializacao.item95 }}</p>                  
              </div>                  
    
{% endblock %}