{% extends 'core/base.html' %}
{% load staticfiles %}
{% block content %}
			<div class="col-md-7">
	                <!-- Title -->
                <h2>{{ post.title }}</h2>

                <!-- Author -->
                <p class="lead small">
                    por <a href="#">{{ post.author }}</a>
                </p>

                

                <!-- Date/Time -->
                <p class="small"><span class="glyphicon glyphicon-time"></span> Publicado em {{ post.published_date}}</p>

               

                <!-- Preview Image -->
                <img class="img-responsive img-center" src="{{ MEDIA_URL }}{{ post.imagem.url }}" alt="">

              

                <!-- Post Content -->
                <p class="lead text-justify">{{ post.text|linebreaksbr }}</p>

                

                <p class="lead">Local: {{ post.local }}</p>

                
				
				<p class="lead">Período do Evento: {{ post.data }}</p>

				

				<p class="lead">Site: <a href="{{ post.link }}" class="small">{{ post.link }}</a></p>


                <!-- Blog Comments -->

                <!-- Comments Form -->
                <div class="well">
                    <h4>Deixe um comentário:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>

                

                <!-- Posted Comments -->

                <!-- Comment -->
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object img-circle" src="{% static 'imagens\64x64.png' %}" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Autor
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>

                <!-- Comment -->
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object img-circle" src="{% static 'imagens\64x64.png' %}" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Autor
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        <!-- Nested Comment -->
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object img-circle" src="{% static 'imagens\64x64.png' %}" alt="">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Autor
                                    <small>August 25, 2014 at 9:30 PM</small>
                                </h4>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                        <!-- End Nested Comment -->
                    </div>
                </div>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-3">

                 <!-- Blog Search Well -->
                <div class="well">
                    <h4>Pesquisar notícias</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>
                 <!-- Pesquisar notícias -->
                 <!-- Tópicos -->
                   <h5 class="text-center">Categorias</h5>
                   <div class="well">
                    <div class="row">
                        <div class="col-xs-6">                        
                            <ul class="list-unstyled">
                                <li><a href="#">Concurso</a>
                                </li>
                                <li><a href="#">Monitoria</a>
                                </li>
                                <li><a href="#">Estágio</a>
                                </li>
                                <li><a href="#">Viagem</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Congresso</a>
                                </li>
                                <li><a href="#">Seminário</a>
                                </li>
                                <li><a href="#">Simpósio</a>
                                </li>
                                <li><a href="#">Artigo</a>
                                </li>
                            </ul>
                        </div>                        
                        </div>
                    </div>
                 </div><!-- /.row -->
                <!-- Fim Tópicos -->
                </div>

                <!-- Side Widget Well 
                <div class="well">
                    <h4>Side Widget Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>-->

            </div>

        </div>
        <!-- /.row -->

        
              </div>              
            </div>
          </div>

   
{% endblock %}